USE [master]
GO
/****** Object:  Database [RESTAURANTEUPI]    Script Date: 13/11/2023 05:02:52 p.m. ******/
CREATE DATABASE [RESTAURANTEUPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTAURANTEUPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RESTAURANTEUPI.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RESTAURANTEUPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\RESTAURANTEUPI_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTAURANTEUPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTAURANTEUPI]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 13/11/2023 05:02:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MESA]    Script Date: 13/11/2023 05:02:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MESAMESERO]    Script Date: 13/11/2023 05:02:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESAMESERO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOMESA] [int] NULL,
	[CODIGOMESERO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MESERO]    Script Date: 13/11/2023 05:02:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESERO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 13/11/2023 05:02:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOCLIENTE] [int] NULL,
	[CODIGOMESERO] [int] NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 13/11/2023 05:02:55 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[CORREO] [varchar](50) NOT NULL,
	[CLAVE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([CODIGO], [NOMBRE]) VALUES (1, N'LOLITO')
INSERT [dbo].[CLIENTE] ([CODIGO], [NOMBRE]) VALUES (2, N'LUISFER')
INSERT [dbo].[CLIENTE] ([CODIGO], [NOMBRE]) VALUES (3, N'PAI')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[MESA] ON 

INSERT [dbo].[MESA] ([CODIGO], [DESCRIPCION]) VALUES (1, N'MESA 1')
INSERT [dbo].[MESA] ([CODIGO], [DESCRIPCION]) VALUES (2, N'MESA 2')
INSERT [dbo].[MESA] ([CODIGO], [DESCRIPCION]) VALUES (3, N'MESA 3')
SET IDENTITY_INSERT [dbo].[MESA] OFF
SET IDENTITY_INSERT [dbo].[MESAMESERO] ON 

INSERT [dbo].[MESAMESERO] ([CODIGO], [CODIGOMESA], [CODIGOMESERO]) VALUES (1, 1, 2)
INSERT [dbo].[MESAMESERO] ([CODIGO], [CODIGOMESA], [CODIGOMESERO]) VALUES (2, 2, 3)
INSERT [dbo].[MESAMESERO] ([CODIGO], [CODIGOMESA], [CODIGOMESERO]) VALUES (5, 3, 1)
SET IDENTITY_INSERT [dbo].[MESAMESERO] OFF
SET IDENTITY_INSERT [dbo].[MESERO] ON 

INSERT [dbo].[MESERO] ([CODIGO], [NOMBRE]) VALUES (1, N'LUIS')
INSERT [dbo].[MESERO] ([CODIGO], [NOMBRE]) VALUES (2, N'MIGUEL')
INSERT [dbo].[MESERO] ([CODIGO], [NOMBRE]) VALUES (3, N'ANA')
SET IDENTITY_INSERT [dbo].[MESERO] OFF
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([CODIGO], [CORREO], [CLAVE]) VALUES (1, N'josephbadilla2013@hotmail.com', N'JOS963852')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__USUARIOS__264F33C8CE606AF7]    Script Date: 13/11/2023 05:02:55 p.m. ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MESAMESERO]  WITH CHECK ADD  CONSTRAINT [FK_CODIGOMESA] FOREIGN KEY([CODIGOMESA])
REFERENCES [dbo].[MESA] ([CODIGO])
GO
ALTER TABLE [dbo].[MESAMESERO] CHECK CONSTRAINT [FK_CODIGOMESA]
GO
ALTER TABLE [dbo].[MESAMESERO]  WITH CHECK ADD  CONSTRAINT [FK_CODIGOMESERO] FOREIGN KEY([CODIGOMESERO])
REFERENCES [dbo].[MESERO] ([CODIGO])
GO
ALTER TABLE [dbo].[MESAMESERO] CHECK CONSTRAINT [FK_CODIGOMESERO]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGOCLIENTE] FOREIGN KEY([CODIGOCLIENTE])
REFERENCES [dbo].[CLIENTE] ([CODIGO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_CODIGOCLIENTE]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGOMESERO1] FOREIGN KEY([CODIGOMESERO])
REFERENCES [dbo].[MESERO] ([CODIGO])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_CODIGOMESERO1]
GO
USE [master]
GO
