  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    text-align: justify;
}
body{
      background-color: #F7F7F7;
  }
container{
      margin: auto;
      max-width: 1200px;
      width: 90%;

      display: flex;
      flex-flow: row wrap;
  }
header, footer{
    background-color: gold;
    color: #ffffff;
    padding: 1em;

    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}
header nav {
    background-color: gold;
    padding: 1em;
    text-align: center;

    flex-basis: 30%;
}
header nav a{
    color: #ffffff;
    padding: 1em;

    justify-content: space-around;
}
    header nav a:hover{
        background-color: goldenrod;
    }
section {
    background-color: #ffffff;
    padding: 0em;
    float: left;
    width: 60%;
}
section p, section hr, section h1{
    margin-bottom: 0.5em;
}
aside {
    background-color: gold;
    float: left;
    margin-top: 2.3em;
    width: 40%;
}
aside p{
    background-color: gold;
    margin: 1em;
    padding: 0.5em;
}
footer{
    justify-content: center;
}